h1 {
    color: white;
    background-color: darkslategray;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.recipe-list {
    font-size: 28px;
    font-family: Verdana;
    color: black;
}